/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: #333;
}
.imghd {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
.imghd img {
  width: 85%;
  height: 350px;
}
.container {
  display: flex;
  flex-direction: row;
  height: 100vw;
}

.filter-sidebar {
  width: 15%;
  padding: 20px;
  margin-left: 90px;
}

.filter-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-category {
  margin-bottom: 20px;
}

.filter-header {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-content {
  margin-top: 10px;
  padding-left: 10px;
  font-size: 14px;
}

.hidden {
  display: none;
}

.toggle-icon {
  font-size: 18px;
  cursor: pointer;
}

.comics-section {
  width: 80%;
  padding: 20px;
  margin-right: 90px;
  background-color: white;
  overflow-y: hidden;
}

.comics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.comics-header h2 {
  font-size: 24px;
}

.view-options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-icon,
.list-icon {
  font-size: 20px;
  cursor: pointer;
}

.sort-dropdown {
  padding: 5px;
  font-size: 14px;
}

.comics-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.comic {
  background-color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.comic img {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.comic p {
  font-size: 14px;
  font-weight: bold;
}
